{{define "main"}}
<table>
  <thead>
    <tr>
      <th class="hdr rainbow">
        <h1>opentsg</h1>
        <h2>The free Test Signal Generator</h2>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr style="font-size:80%;">
      <td>
        <p>You're running opentsg locally in minikube. All your data is stored inside the minikube container.</p>
        <ul>
          <li><code>/data/jobs/</code>All the job folders</li>
          <li><code>/data/lib/</code>All your library data</li>
          <li><code>/data/lib.&lt;groupname&gt;/</code>All your group data</li>
          <li><code>/data/usr/</code>All your user data</li>
        </ul>
        <p>Log public issues at the link above. Private issues by</p>
      </td>
    </tr>
  </tbody>
</table>
{{end}}